
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.non-alcoholic-ingredients {
  /*text-align: center;
  margin: left;*/
}

.alcoholic-ingredients {
  /*text-align: center;
  float: right;*/
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg) rotateX(0deg); filter: invert(100%); }
  50% { transform: rotate(180deg) rotateX(360deg); filter: invert(0%); }
  100% { transform: rotate(360deg) rotateX(720deg); filter: invert(100%); }
}

#wrapper {
  width: 100%;
  background-color: #fff;
}


#top-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: #9cdef9;
  /*background-image: linear-gradient(bottom, #9cdef9, white);*/
  /*#A8E7FF;*/
  text-align: center;
  z-index: 2;
}

.logo {
  padding-top: 5px;
}

#left-side-nav {
  position: fixed;
  width: 250px;
  height:94vh;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: white;
  top: 65px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-image: radial-gradient(circle, white, #9CDEF9);*/
  background-image: linear-gradient(to top, #f9e19a, #9cdef9);
}

#right-side-nav > div {
  overflow: auto;
  transform: scaleX(-1);
}

#right-side-nav {
  position: fixed;
  width: 250px;
  height:94vh;
  left: 700;
  right: 0;
  overflow-y: auto;
  background-color: white;
  top: 65px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /*direction: rtl;*/
  transform: scaleX(-1);
  background-image: linear-gradient(to top, #f9e19a, #9cdef9);
}

#content-wrapper {
  margin: 65px 0 0 250px;
  margin-right: 250px;
  padding: 0 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 95vh;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 30px;
  /*background-image: radial-gradient(circle, white, #b7e8fb, white);*/
  /*background-image: linear-gradient(bottom, #f9e19a, #9cdef9, white);*/
  /*z-index: auto;*/
}

#my-cocktails-wrapper {
  margin: 65px 65px 0 0px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
  height: 90vh;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 30px;
  /*background-image: radial-gradient(circle, white, #b7e8fb, white);*/
  /*background-image: linear-gradient(bottom, #f9e19a, #9cdef9, white);*/
  /*z-index: auto;*/
}

.assembly-line {
}

.cocktail-header-name {
  /*padding-bottom: 20px;*/
  /*position: absolute;*/
}

.cocktail-grid {
  /*padding-top: 30px;
  padding-bottom: 30px;*/
}

.cocktail-buttons {
  /*padding-top: 30px;
  padding-bottom: 10px;*/
}

#content-wrapper background-image {
  margin-top: 100px;
}

#right-side-nav::-webkit-scrollbar {
  /*direction: rtl;*/
}

/*.card-shit::-webkit-scrollbar {
  display: none;
}*/

.cocktail-card {
  height: 300px;
  overflow-y: auto;
  /*background-color: orange;*/
}

.shaker {
  /*margin-left: 200px;*/
}

.figure-thing {
  width: 250px;
}

.ingredient {
  /*background: white !important;*/
  background-image: radial-gradient(circle, white, #9CDEF9);
}

.ingredient-flip {
  background: #FFD6E2 !important;
}

.booze-filter {

}
